.availability-btn {
    min-width: 100%;
    max-width: 60px;
    height: 68px;
    background-color: #6ac4fc  !important;
    border-color: #6ac4fc !important;
}
.availability-btn:hover  {
    background-color: #088fe9 !important; 
    border-color: #088fe9 !important;
}

.active {
    background-color: #088fe9 !important;
    border-color: #088fe9 !important;
}