:root {
    --baseColor: #3B8BE2
}

.nav-bar {
    background-color: white;
    border-right: 1px solid rgb(194, 194, 194);
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.user-img{
    border-radius: 6px;
}

.sboard-header {
    color: #1f9bee;
    margin: 0px;
    font-weight: 700;
}

.sboard-subheader {
    font-weight: 700;
    color: #606060;
}

.profile-item {
    margin-top: auto !important;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.1s;
}
.profile-item:hover {
    margin-bottom:4px !important ;
}

li {
    list-style: none;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 6px;
    margin: 2px;
    font-weight: 500;
}

li:hover{
    background-color: var(--baseColor);
    margin-left: 5px;
    color: white !important;
}

ul {
    padding: 0px;
}