.slideshowListItem {
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
    height: 100px;
}
.slideshowListItem:hover{
    border-color:#1999ed ;
    background-color: #1999ed;
    color: white;
}